USE [master]
GO
/****** Object:  Database [webst4]    Script Date: 20/09/2026 5:56:32 CH ******/
CREATE DATABASE [webst4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'webst4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\webst4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'webst4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\webst4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [webst4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [webst4]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 20/09/2026 5:56:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [bigint] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](200) NULL,
	[icon] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 20/09/2026 5:56:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_date] [datetime2](7) NULL,
	[description] [nvarchar](1000) NULL,
	[discount] [float] NULL,
	[images] [varchar](255) NULL,
	[product_name] [nvarchar](200) NULL,
	[quantity] [int] NULL,
	[status] [smallint] NULL,
	[unit_price] [float] NULL,
	[category_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([category_id], [category_name], [icon]) VALUES (1, N'iphone', N'097ff222-f3be-4638-bf3b-4c2943cb2bf4.jpg')
INSERT [dbo].[categories] ([category_id], [category_name], [icon]) VALUES (2, N'Bóng', N'ae5d97d3-7717-443e-9893-3dd04e877e0d.webp')
INSERT [dbo].[categories] ([category_id], [category_name], [icon]) VALUES (3, N'Gấu bông', N'8bacb804-d436-46e6-af5d-6942db29e73b.webp')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([product_id], [create_date], [description], [discount], [images], [product_name], [quantity], [status], [unit_price], [category_id]) VALUES (1, CAST(N'2026-09-17T10:02:38.0500000' AS DateTime2), N'', 1000, N'879e23cc-0b04-46a7-a4b8-93639d79e626.jpg', N'iphone 17 ', 10, 1, 10000, 1)
INSERT [dbo].[products] ([product_id], [create_date], [description], [discount], [images], [product_name], [quantity], [status], [unit_price], [category_id]) VALUES (2, CAST(N'2026-09-17T10:09:30.7550000' AS DateTime2), N'Bền - tốt - bảo hành 1 năm', 200, N'e23c61db-dd0d-49bf-9ac9-54e993d6f4f1.png', N'Bóng loại 1', 20, 1, 150000, 2)
INSERT [dbo].[products] ([product_id], [create_date], [description], [discount], [images], [product_name], [quantity], [status], [unit_price], [category_id]) VALUES (3, CAST(N'2026-09-17T10:15:17.7370000' AS DateTime2), N'', 500, N'5ad6f461-fcb2-4086-b9e5-2a4b2b3aa5f6.jpg', N'Áo thể thao loại 1', 50, 1, 20000, 4)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9]
GO
USE [master]
GO
